<%- include('../partials/header') %>
    <h2>All flights</h2>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight Number</th>
                <th>Departure</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach((item) => { %>
                <tr>
                    <td><%= item.airline %></td>
                    <td><%= item.airport %></td>
                    <td><%= item.flightNo %></td>
                    <td><%= item.departs %></td>
                    <td><a href="/flights/<%= item._id %>" class="details">Details</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<%- include('../partials/footer') %>