<%- include('../partials/header') %>
    <h2>Flight Detailst</h2>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Airport</th>
                    <th>Flight Number</th>
                    <th>Departure</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= flight.airline %></td>
                    <td><%= flight.airport %></td>
                    <td><%= flight.flightNo %></td>
                    <td><%= flight.departs %></td>
                </tr>
                <% if (flight.destinations.length) { %>
                    <% flight.destinations.forEach(function(item) { %>
                    <tr>
                        <td><%= item.airport %></td>
                        <td><%= item.arrival %></td>
                    </tr>
                    <% }); %>
                <% }; %>
            </tbody>
        </table>
        <form action="/flights/<%= flight._id %>/destinations" method="POST">
                <select name="airport">
                    <option selected="true" disabled="disabled">Nowhere</option> 
                    <% airports.forEach((item) => { %>
                        <option value="<%= item %>"><%= item %></option>
                    <% }); %>
                </select>
                <input type="datetime-local" required name="arrival" value="<%= destinationDate %>">
            <button type="submit">Add Destination</button>
        </form>
        <h3>Add Ticket</h3>
        <form action="/flights/<%= flight._id %>/ticket" method="POST">
            <label for="seat">Seat: </label>
            <input id="seat" name="seat" required pattern="[A-F][1-9]\d?">
            <label for="price">Price: </label>
            <input id="price" name="price" type="number" min="0">
            <button type="submit">Add</button>
        </form>
        <br>
        <h3>All Tickets</h3>
        <ul>
            <% tickets.forEach(ticket => { %>
                <li>Seat: <%= ticket.seat %> Price: <%= ticket.price %> - <form action="/flights/<%= flight._id %>/<%= ticket._id %>/delete"><button type="submit">Remove Ticket</button></form></li>
            <% }) %>
        </ul>
    </section>

<%- include('../partials/footer') %>

